/* Dropdowns / Banner */
#filterBanner {
  background-color: white;
}

#playerSearch {
  color: #f5f5f5;
  height: auto;
}

#schedule {
    color: #f5f5f5;
}


:root
{
  --brandcolor: #0f0f0f;
  --secondaryBrandColor: #f3f3f4;
  --textColor: #fafafa;
  --secondaryTextColor: #0f0f0f;
  --searchColor: #f0f0f0;
  --searchSecondaryColor: rgba(255,255,255, 0.3);
  --table_one_colour: rgba(36, 36, 36, 0.755);
  --table_two_colour: rgba(33, 37, 41, 1);
  --table_three_colour: rgba(36, 36, 36, 0.755);
}

/* Page theme - background image */
#page 
{
  background-image: url("../images/pitch-dark.jpg");
  max-height:max-content;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

/*setting style accross the entire page to be used globally*/
* 
{
  scroll-behavior: smooth;
  font-family: "Questrial", "Montserrat", "Lato", "Open Sans";
}

h1 
{
  font-family: "Prompt" sans-serif, "Raleway", "Open Sans";
  font-weight: bolder;
}


#searchInput[type="text"] {
  padding: 10px;
  font-size: 1.1em;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: var(--searchColor);
}

#searchBtn {
  float: left;
  width: 20%;
  padding: 10px;
  background: var(--searchColor);
  color: var(--secondaryBrandColor);
  font-size: 1.1em;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}


#searchBtn:hover {
  background-color: var(--secondaryBrandColor);
  color: var(--brandcolor);
}

.searchLabel
{
  margin-left: 12%;
}

.playerGrid
{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
  'playerImg playerBio playerBio'       /* 1st row */
  'playerInfo playerInfo playerInfo';    /* 2nd row */
}

.imgPlaceHolder
{
  
  overflow: hidden;
  border: var(--secondarycolor);
  border-radius: 10%;
  width: 12em;
  border: 2px solid #f0f0f0;
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}

#playerImg h3
{
  margin-top: 1%;

}

#playerImg
{
  grid-area: playerImg;
  display: flex;
  flex-direction: column;
  /* margin-left: -22% ;
  text-align: center; */
}

#playerImg > h3, img {
  align-self: center;
}


#playerBio
{
  grid-area: playerBio;
  display: flex;
  gap: 15%;
}

#playerBio h4 {
  color: #363636;
  background-color: #f0f0f0;
  border-radius: 10%;
  text-align: center;
}

#playerBio p {
  text-align: center;
  background-color: #363636;
}

#playerInfo
{
  grid-area: playerInfo;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-right: 11%;
  text-align: justify;
  border-top: 2px solid var(--searchColor);
  background-color: var(--secondaryTextColor);
}

#playerInfo p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: large;
}


#playerSearch 
{
  padding-bottom: 5%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 75% 25%;
  grid-template-areas: 
  "title title"
  "playerResultsItem recentSearch";
}

#playerSearchTitle {
  grid-area: title;
  background-color: var(--table_one_colour);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.borderToSeparate
{
  border-right: 2px solid var(--secondaryTextColor);
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: 5%;

}


/* 2nd grid of the section which takes 25% for recent search*/
.recentSearch
{
  margin-top:10%;
  margin-bottom: 7%;
  margin-left: 2%;
  grid-area: recentSearch;
}

.border-left
{
  border-left: 1px;
}
/* container for the recently searched players */
.recentSearchItems 
{
  display: flex;
  flex-direction: column;
  /* margin-left: 5%; */
}


/* buttons for recently searched players */
.recentSearchPlayers
{
  width: 55%;
  margin-bottom: 5%;
  margin-left: 5%;
  text-align: center;
  border-radius: 15px;
  background-color: var(--searchColor);
  color: var(--brandcolor) ;
  
} 

/* hover for buttons for recently searched players */
.recentSearchPlayers:hover
{
  background-color: var(--brandcolor);
  color: var(--searchColor);
}

/* clear button styling */
#clearSearchHistory
{
  background-color: var(--searchSecondaryColor);
  color: var(--searchColor);
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 15px;
  font-weight: bolder;
  border: 2px var(--searchColor);
  width: 60%;
  border: 2px solid var(--searchColor);
  letter-spacing: 2px;
}

#clearSearchHistory:hover {
  background-color: var(--brandcolor);
  border: 2px solid var(--searchColor);
}

/* TOM'S CSS FOR LANDING PAGE */

/*Landing Section CSS*/
.landingPage {
  margin-top: 150px;
  justify-content: center;
  text-align: center;
}

.landingPage h1 {
  color: #f5f5f5;
  font-size: 68px;
  font-weight: 600;
}

.landingPage h2 {
  color: #f5f5f5;
  margin-bottom: 50px;
}

/* Carousel CSS */
.landing-carousel {
  margin-top: 50px;
  max-height: 300px;
  max-width: 300px;
}

.carousel-inner img {
  margin: auto;
}

/* Navigation Bar CSS */
#landingBtn {
  border-radius: 5px;
  cursor: pointer;
}
#mainNav {
  transition: all 0.35s;
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #f5f5f5;
  font-weight: 600;
  letter-spacing: 1px;
}

#mainNav .navbar-toggler {
  font-size: 20px;
  padding: 8px 10px;
  color: #f5f5f5;
}

#mainNav .navbar-nav > li > a {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
}

#mainNav .navbar-nav > li > a.active {
  color: #f5f5f5 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #f5f5f5;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: rgb(124, 116, 116);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}

.navbar a {
  font-family: "Questrial", "Montserrat", "Lato", "Open Sans";
  font-size: 28px;
  font-weight: 900 !important;
  margin-left: 10px;
}

.navbar img {
  height: 30px;
  width: 30px;
}

/* Hiding the tabs*/
.hidden {
  display: none !important;
}

#filterBanner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #363636;
  height: 75px;
  color: #f5f5f5;
  font-family: "Questrial", "Montserrat", "Lato", "Open Sans";
  font-weight: 900;
  font-size: 18px;
}

#leagues,
#season,
#gameweek,
#searchPlayer {
  margin-top: 10px;
  margin-left: 25px;
  border-radius: 2px;
}

#updateBtnLeague,
#updateBtnSchedule,
#searchBtnPlayer {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
}

#landingBtn.active,
#updateBtnLeague.active,
#updateBtnSchedule.active,
#searchBtnPlayer.active {
  color: #f5f5f5;
  background-color: transparent;
}

#landingBtn.active:hover,
#updateBtnLeague.active:hover,
#updateBtnSchedule.active:hover,
#searchBtnPlayer.active:hover {
  background-color: transparent;
}

#landingBtn:focus,
#updateBtnLeague:focus,
#updateBtnSchedule:focus,
#searchBtnPlayer:focus {
  color: #363636;
}

#landingBtn:hover,
#updateBtnLeague:hover,
#updateBtnSchedule:hover,
#searchBtnPlayer:hover,
#updateBtnLeague:focus:hover,
#updateBtnSchedule:focus:hover,
#searchBtnPlayer:focus:hover {
  color: rgb(124, 116, 116);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}

/* Schdedule CSS */
.yticon {
  margin-left: 20px;
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
}

#fixtureTitle {
  background-color: var(--table_one_colour);
  display: flex;
  flex-direction: column;
  text-align: center;
}

#fixtureTitle h1 {
  font-weight: 900;
}

#fixtureTitle h2 {
  font-weight: 600;
}

#fixtureTableBody {
  margin-left: 10px;
}

/* Modal Styling */

#modal-body {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 900;
  color: #f0f0f0;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--table_one_colour);
}

.modal-window {
  color: black;
  background-color: rgb(124, 116, 116);
  max-width: max-content;
  margin: 5% auto;
}

#close-modal {
  display: flex;
  padding: 0 5px;
  justify-content: flex-end;
}

#close-modal span {
  cursor: pointer;
}

.responseDiv {
  padding: 2%;
  width: 100%;
 align-self: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.responseDiv a, .responseDiv p {
  align-self: center;
  text-align: center;
}

#close-modal span:hover,
#closeModal:hover{
  transform: scale(1.1);

}

.modalPara {
  padding: 20px 25px;
  font-size: 1.5rem;
  color: white;
}

#closeModal {
  padding: 5px 10px;
  cursor: pointer;
}

main{
  position: relative;
  height: 100vh;
}

/* ---------------------------- */
/* ---------------------------- */
/* league table start */

#leagueTitleInfo {
  background-color: var(--table_one_colour);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #f5f5f5;
}

#leagueTitleInfo h2 {
  font-weight: 600;
}

table 
{
  border: 10px solid dimgrey;
  border-collapse: collapse;
  margin: 2rem auto;
}
  
  table tr {
  border: 5px solid dimgrey;
  border-collapse: collapse;
  }
  
  th,
  table tr td {
  /* border-left: 1px solid dimgrey;
  border-right: 1px solid dimgrey;
  border-collapse: collapse; */
  color: white;
  text-align: center;
  }
  
  th {
  background-color: black;
  padding: 0 10px;
  }
  
  table tr td {
  background-color: #363636;
  }
  
  .position,
  .info,
  .logo,
  .team {
  padding: 0 10px;
  }
  
  .rowPosition {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 900;
  }
  
  table tr td div 
{
  display: inline-block;
  width: 14%;
  text-align: center;
  margin: 0 2px;
}
  
.formGreen
{
  color: green;
  font-weight: bolder;
  /* padding: 0 2px; */
}
  
.formRed
{
  color: red;
  font-weight: bolder;
}

/* / #Tablet (Portrait)/ */
/* / Note: Design for a width of 768px (Tablet) / */
@media screen and (min-width: 768px) and (max-width: 1011px) 
{
  .info 
  {
    display: none;
  }

  /* Putting recent search at the top for tablet devices */
  #playerSearch 
  {
    padding-bottom: 5%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "title" 
    "borderPlayerSearch" 
    "playerResultsItem"
    "recentSearchItems";
  }

  #borderPlayerSearch
  {
    grid-area: borderPlayerSearch;  
    display: grid;
    grid-template-areas: 
    'recentSearch recentSearch recentSearch' 
    'recentSearchItems recentSearchItems recentSearchItems'
    'clearSearch clearSearch clearSearch';
    justify-content: center;
    align-items: center;
  }

  /* redefining clear button , and player buttons width */
  #clearSearchHistory
  {
    width: 50%;
  }

  /* aligning 'Recent Search header to center */
  #recentSearch
  {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    margin:auto;
  }

  .recentSearchPlayers
  {
    width: max-content;
    margin-right: 5%;
    
  } 

  #clearSearch
  {
    grid-area: clearSearch;
    display: flex;
    align-items: baseline;
    justify-content: center;
    
  }

  #clearSearchHistory
  {
    width:20%;
  }

  #recentSearchItems
  {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    width: 75%;
    row-gap: 0.5em;
  }

  /* Player Search  */
  .playerGrid
  {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'playerImg' /* 1st row */
    'playerBio'  /* 2nd row */    
    'playerInfo';   /* 3rd row */ 
    }

     #playerBio
    {
      grid-area: playerBio;
      display: flex;
      /* gap: 15%; */
      justify-content: space-around;
    }
  }

  /* / #Mobile (Landscape)/ */
  /* / Note: Design for a width of 600px / */
  @media screen and (min-width: 600px) and (max-width: 767px) {
    .info,
    .form,
    .logo 
    {
      display: none;
    }

  /* Filter Banner MediaQ Mobile */
  #filterBanner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    color: #f5f5f5;
    padding: 5px;
}

 /* Putting recent search at the top for tablet devices */
 #playerSearch 
 {
   padding-bottom: 2%;
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: auto;
   grid-template-areas:
   "title" 
   "borderPlayerSearch" 
   "playerResultsItem"
   "recentSearchItems";
 }

   

  #borderPlayerSearch
  {
    grid-area: borderPlayerSearch;  
    display: grid;
    grid-template-areas: 
    'recentSearch recentSearch recentSearch' 
    'recentSearchItems recentSearchItems recentSearchItems'
    'clearSearch clearSearch clearSearch';
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  /* redefining clear button , and player buttons width */
  #clearSearchHistory
  {
    width: 50%;
  }

  /* aligning 'Recent Search header to center */
  #recentSearch
  {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    margin:auto;
  }

  .recentSearchPlayers
  {
    width: max-content;
    margin-right: 5%;
    
  } 

  #clearSearch
  {
    grid-area: clearSearch;
    display: flex;
    align-items: baseline;
    justify-content: center;
    
  }

  #clearSearchHistory
  {
    width:20%;
  }

  #recentSearchItems
  {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    width: 75%;
    row-gap: 0.5em;
  }

  /* Player Search  */
  .playerGrid
  {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'playerImg' /* 1st row */
    'playerBio'  /* 2nd row */    
    'playerInfo';   /* 3rd row */ 
    }

     #playerBio
    {
      grid-area: playerBio;
      display: flex;
      /* gap: 15%; */
      justify-content: center;
    }

    
    /* Player Search  */
    .playerGrid
    {
      margin-top: 5%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: 
      'playerImg' /* 1st row */
      'playerBio'  /* 2nd row */    
      'playerInfo';   /* 3rd row */ 
    }

    #playerBio
    {
      grid-area: playerBio;
      display: flex;
      /* gap: 15%; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #playerBio h4 
    {
      width: 100%;
      text-align: center;
    }
}

/* / #Mobile (Landscape)/ */
/* / Note: Design for a width of 480px / */
@media screen and (min-width: 300px) and (max-width: 599px) 
{
  .info,
  .form,
  .logo,
  .ga,
  .gf  
  {
    display: none;
  }
  .landingPage {
    margin-top: 0px;
  }
    /* Filter Banner MediaQ Mobile */
    #filterBanner {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: auto;
      color: #f5f5f5;
      padding: 5px;
  }

  /* Redefining Player Search Section from Grid to Flex column */
  #playerSearch 
  {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: auto
    /* grid-template-areas: "playerResultsItem"; */
  }

  /* Removing recent search aside for mobile devices */
  #borderPlayerSearch
  {
    display: none;
  }

  /* Player Search  */
  .playerGrid
  {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'playerImg' /* 1st row */
    'playerBio'  /* 2nd row */    
    'playerInfo';   /* 3rd row */ 
  }
 
  #playerBio
  {
   grid-area: playerBio;
   display: flex;
   /* gap: 15%; */
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
  }
 
  #playerBio h4 
  {
    width: 100%;
    text-align: center;
  }
}
  
/* / #Mobile (Portrait)/ */
/* / Note: Design for a width of 320px / */
  @media screen and (max-width: 479px) 
  {
    .info,
    .form,
    .logo,
    .ga,
    .gf 
    {
      display: none;
    }

    #borderPlayerSearch
    {
      display: none;
    }

    /* Redefining grid area as 1 column  */
    #playerSearch 
    {
      padding-bottom: 5%;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas: "playerResultsItem";
    }


    /* /* Player Search (img, bio and info as flex column) */
    .playerGrid
    {
      margin-top:5%;
      display: flex;
      flex-direction: column;
    }
 
    #playerBio
    {
      grid-area: playerBio;
      display: flex;   
       /* gap: 15%; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      width: fit-content;
    }
 
    #playerBio h4 
    {
      width: 100%;
      text-align: center;
    }

    .imgPlaceHolder
    {
      width: 10em;
    }
}

  /* league table end */
  /* ---------------------------- */
  /* ---------------------------- */