:root
{
    --brandcolor: #4f2683;
    --secondarybrandcolor: #ede509;
    --textcolor: #101820;
    --secondarytextcolor: #ffffff;
    --searchcolor: #ffffff;
    
}

/*setting style accross the entire page to be used globally*/
*
{
    scroll-behavior: smooth;
}

#bigNav
{
    background-color: var(--secondarybrandcolor);
    color: var(--brandcolor);
}
#secondaryNavbar
{
    background-color: var(--brandcolor);
}


h1
{
    font-family: 'Unbounded', cursive;
}

h2,h3,h4,h5,p
{
    font-family: 'Montserrat', sans-serif;
    
}




#searchInput[type=text] 
{
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: var(--searchcolor);
}
  
#searchBtn
{
    float: left;
    width: 20%;
    padding: 10px;
    background: var(--brandcolor);
    color: var(--searchcolor);
    font-size: 1.1em;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
   
}
  
#searchBtn:hover 
{
    background-color: var(--searchcolor);
    color: var(--brandcolor);
}

#playerResults
{
    margin-left: 5%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
    'playerResultsItem recentSearch';
}

.borderPlayerSearch
{
    border-left: 2px solid var(--brandcolor);
}

#playerResultsItem
{
    grid-area: playerResultsItem ;
}

#recentSearch
{
    grid-area: recentSearch ;
    margin-right: 20% ;
    margin-left: 10%;
    /*display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    'recentSearchItem1'
    'recentSearchItem2'
    'recentSearchItem3'
    'recentSearchItem4'

    ;*/
}

.recentSearchItems
{
    width: fit-content;
    margin-left: 10%;
    margin-top: 10%;
}

#recentSearchItem1
{
   
    grid-area: recentSearchItem1 ;
}

#recentSearchItem2
{
    grid-area: recentSearchItem2 ;   
}

#recentSearchItem3
{
    grid-area: recentSearchItem3 ;
}

#recentSearchItem4
{
    grid-area: recentSearchItem4 ;
}

footer
{
    border-top: 5px solid var(--searchcolor); 
    background-color: var(--brandcolor);
    color: var(--textcolor);
    justify-content: center;
    text-align: center;

}